section.search {
	height: 100vh;
	position: relative;
}

section.search div.backgroundPie {
	position: absolute;
	height: 50%;
	width: 100%;
	bottom: -20%;
	background-image: url("../images/PieBG.jpg");
	background-position: center;
	background-size: 100vw;
}

section.search div.backgroundFade {
	position: absolute;
	height: 30%;
	width: 100%;
	bottom: 0;
	background: transparent;
	background: linear-gradient(bottom, white 0%, white 100%);
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, white 100%);
}

section.search div.backgroundFade2 {
	position: absolute;
	height: 10%;
	width: 100%;
	bottom: -20%;
	background: transparent;
	background: linear-gradient(top, white 0%, white 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 100%);
}

section.search h1.siteName {
	color: #4a4a4a;
	margin: 0;
	font-family: "TypoGraphica";
	font-size: 15vh;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 17.5vh;
}

section.search h1.siteName span.colorPie {
	color: #d6958d;
}

section.search h2.siteIntro {
	margin: 0;
	text-align: center;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 4vh;
	color: #9b9b9b;
	padding-bottom: 7.5vh;
	font-style: italic;
}

section.search form {
	width: 525px;
	margin: 0 auto;
	position: relative;
}

section.search form input {
	width: 100%;
	font-family: "Ubuntu";
	font-weight: 300;
	border: 1px solid #d7d7d7;
	outline: none;
	display: block;
	padding: 10px 20px;
	font-size: 25px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
	letter-spacing: 1px;
	color: #5a5a5a;
}

section.search form input:hover {
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

section.search form button#searchButton {
	border: none;
	outline: none;
	background-color: white;
	position: absolute;
	width: 50px;
	height: 80%;
	top: 10%;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.search form button#searchButton i {
	color: #9a9a9a;
	font-size: 25px;
}
