@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600i|Oswald:300,400|Ubuntu:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Oswald:700|Rubik');
@import url('https://fonts.googleapis.com/css?family=Oswald:700|Passion+One:700|Rubik');
@import "search.css";
@import "result.css";

body{

}

a:hover{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}
